.avatar__lg{
    width: 150px !important;
    // height: 100px !important;
}
.avatar__sm{
    width: 70px !important;
    height: 70px !important;
    border-radius: 8px;
}
.avatar__md{
    width: 100px !important;
    height: 100px !important;
}